# Files
topic-II-the-world-data-gerdau.pptx
topic-III-d&a-gerdau.pptx

# Folders
important-docs
SQL_challenge/.venv
SQL_challenge/__pycache__
materials/Python_data
materials/SQL_database
materials/statistics_python
materials/
time-margaret-hamilton/
hands-on