# Files
01-Introducao-dados.pdf
02_Fontes_Dados.pdf
03-Cultura-analitica.pdf
04-Maturidade-Analitica.pdf
Atividade-mercado-Dados.pdf
beginners-guide-data-analytics.pdf
Extra-WoMakers-Como-criar-manter-melhores-habitos-estudos.pdf
Guia-aluna-Bootcamp-Data-Analytics.pdf
slides-WoMakers-Comocriar_manter_melhores_habitos_estudos.pdf
Termo_Bolsa_de_Estudos_Data_Analytics.pdf
Termo_Bolsa_Estudos_2024_Data_Analytics-OK.pdf
Termo_Bolsa_Estudos_2024_Data_Analytics1.pdf
topic-II-the-world-data-gerdau.pptx
topic-III-d&a-gerdau.pptx

# Folders
SQL_challenge/.venv
SQL_challenge/__pycache__
materials/
